.App {
  height: 100vh;
}

.board {
  position: relative;
  display: grid;
  margin: 25vmin auto;
  height: 50vmin;
  aspect-ratio: 1;
  box-sizing: border-box;
}

.tile {
  aspect-ratio: 1;
  margin: 0.1rem;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 10%;
  box-sizing: border-box;
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}

.grass {
  background-color: rgb(118, 192, 84);
}
.tent {
  position: relative;
  background-color: rgb(57, 146, 16);
}
.tent::after {
  content: '';
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 1;
  aspect-ratio: 1;
  background: url('assets/images/tent.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.tree {
  position: relative;
  background-color: rgb(42, 194, 22);
  cursor: default;
}
.tree::after {
  content: '';
  position: absolute;
  top: -20%;
  width: 100%;
  z-index: 1;
  aspect-ratio: 1;
  background: url('assets/images/tree.png');
  background-size: contain;
}

.num {
  position: absolute;
  top: -15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 5vmin;
  color: white;
}

.row {
  top: 0;
  left: -10%;
  width: auto;
  height: 100%;
  flex-direction: column;
}
